#table,td{
    border: 2px solid rgb(185, 7, 134);
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main {
    background-color: rgb(233, 180, 33);
    font-size: smaller;
    height: 140vh;
}
#heading{
    justify-content: center;
    text-align: center;
    color: rgb(149, 7, 134);
}
